@page
@model SereneRiverFarms.Pages.OurProductsModel
@using System.Collections;   @*For ArrayLists*@

@{
    ViewData["Title"] = "Our Products";
    var contactResponse = ViewData["Message"];



    product pear = new product("Pear", "Pears", 2.50M, "", "");
    product apple = new product("Apple", "Apples", 1.50M, "", "");
    product blueberries = new product("Blueberries", "Blueberries", 3.00M, "", "");
    product strawberries = new product("Strawberries", "Strawberries", 2.75M, "", "");
    product raspberries = new product("Raspberries", "Raspberries", 4.50M, "", "");
    product cherries = new product("Cherries", "Cherries", 3.50M, "", "");
    product pumpkin = new product("Pumpkin", "Pumpkins", 1.79M, "", "");
    product milkGallon = new product("Milk Gallon", "Milk Gallons", 2.50M, "", "");
    product jamJar12Ounce = new product("12 Ounce Jam Jar", "12 Ounce Jam Jars", 6.00M, "", "");
    List<product> products = new List<product>();
    products.Add(pear);
    products.Add(apple);
    products.Add(blueberries);
    products.Add(strawberries);
    products.Add(raspberries);
    products.Add(cherries);
    products.Add(pumpkin);
    products.Add(milkGallon);
    products.Add(jamJar12Ounce);


    int numberOfPears = Convert.ToInt32(ViewData["numberOfPears"]);
    int numberOfApples = Convert.ToInt32(ViewData["numberOfApples"]);
    int numberOfBlueberries = Convert.ToInt32(ViewData["numberOfBlueberries"]);
    int numberOfStrawberries = Convert.ToInt32(ViewData["numberOfStrawberries"]);
    int numberOfRaspberries = Convert.ToInt32(ViewData["numberOfRaspberries"]);
    int numberOfCherries = Convert.ToInt32(ViewData["numberOfCherries"]);
    int numberOfPumpkins = Convert.ToInt32(ViewData["numberOfPumpkins"]);
    int numberOfMilkGallons = Convert.ToInt32(ViewData["numberOfMilkGallons"]);
    int numberOf12OunceJamJars = Convert.ToInt32(ViewData["numberOf12OunceJamJars"]);

    var subtotalPears = ViewData["subtotalPears"];
    var subtotalApples = ViewData["subtotalApples"];
    var subtotalBlueberries = ViewData["subtotalBlueberries"];
    var subtotalStrawberries = ViewData["subtotalStrawberries"];
    var subtotalRaspberries = ViewData["subtotalRaspberries"];
    var subtotalCherries = ViewData["subtotalCherries"];
    var subtotalPumpkins = ViewData["subtotalPumpkins"];
    var subtotalMilkGallons = ViewData["subtotalMilkGallons"];
    var subtotal12OunceJamJars = ViewData["subtotal12OunceJamJars"];


    var cartTotal = ViewData["cartTotal"];
}

<div class="content-row no-content-row-padding">
    <div class="col-sma-12 page-content">
        <div class="subtitle-container">
            <h2 class="subtitle-container__subtitle">Our Products</h2><div class="subtitle-container__note"> *** All products while available, some are seasonal.</div>
            <div class="subheader-divider"></div>
        </div>
    </div>
</div>
<div class="content-row small-content-row-padding-top ">
    <div class="col-vsm-6 col-sma-4 col-lar-3 product one">
        <div class="product__name">
            <h3>Fresh @products[0].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfPears > 0)
                    {
                        @numberOfPears
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Fun to eat or bake in cakes.</div>
        <div class="product__price">$@products[0].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product two">
        <div class="product__name">
            <h3>Fresh @products[1].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfApples > 0)
                    {
                        @numberOfApples
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Assorted varieties!</div>
        <div class="product__price">$@products[1].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product three">
        <div class="product__name">
            <h3>@products[2].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfBlueberries > 0)
                    {
                        @numberOfBlueberries
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Delicious summer blueberries.</div>
        <div class="product__price">$@products[2].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product four">
        <div class="product__name">
            <h3>@products[3].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfStrawberries > 0)
                    {
                        @numberOfStrawberries
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">We use plants and other natural bug prevention methods so you don't have to worry about pesticides in your food!</div>
        <div class="product__price">$@products[3].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product five">
        <div class="product__name">
            <h3>@products[4].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfRaspberries > 0)
                    {
                        @numberOfRaspberries
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Sweet and tart and a favorite in late summer.</div>
        <div class="product__price">$@products[4].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product six">
        <div class="product__name">
            <h3>@products[5].namePlural</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfCherries > 0)
                    {
                        @numberOfCherries
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Very filling and tasty.</div>
        <div class="product__price">$@products[5].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product seven">
        <div class="product__name">
            <h3>@products[6].name</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfPumpkins > 0)
                    {
                        @numberOfPumpkins
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">
            Our pumpkin patch is ready to provide you with your next jack-o'-latern.
            Also, rumor has it pumpkin goes well in pies.
        </div>
        <div class="product__price">$@products[6].price/lb</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product eight">
        <div class="product__name">
            <h3>@products[7].name</h3>
            <div class="product__quantity">
                @{
                    if (@numberOfMilkGallons > 0)
                    {
                        @numberOfMilkGallons
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">
            We love our cows and give them plenty of room to roam.  The result is happier
            cows and better tasting milk.
        </div>
        <div class="product__price">$@products[7].price/gallon</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-vsm-6 col-sma-4 col-lar-3 product nine">
        <div class="product__name">
            <h3>Assorted Jams</h3>
            <div class="product__quantity">
                @{
                    if (@numberOf12OunceJamJars > 0)
                    {
                        @numberOf12OunceJamJars
                    }
                }
            </div>
        </div>
        <div class="product__bg-image"></div>
        <div class="product__description">Nothing like fresh produce to make your day in a jam.</div>
        <div class="product__price">$@products[8].price, $4-8/jar</div>
        <div class="product__add-container">
            <div class="product__minus-quantity">-</div>
            <label class="sr-only" for="product__input-quantity">Product Input Quantity</label>
            <input id="productInputQuantity" class="product__input-quantity" name="product__input-quantity" type="number" min="0" max="100" value="0" />
            <div class="product__add-quantity">+</div>
            <div class="product__add">Add to Cart</div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>

<div class="content-row">
    <div class="col-sma-5">
        <h3>Special Order: Request an Estimate from Our Farm</h3>
        <div>
            <p>
                How it Works: Simply click and add the products you wish to order, and submit your total to us with any notes.
                We'll get back to you with an estimate, including Shipping + Handling, within 2 business days via email.
                We ship produce and dairy within a 50 mile radius, jams we ship anywhere in the continental U.S.
            </p>
        </div>
        <div class="javascript-validation-results-contact-us"></div>

        @{
            <div class="form-response">
                @contactResponse
            </div>
        }

        <form class="form estimate-form" id="estimateForm" name="estimateForm" onsubmit="return validateEstimateForm();" method="post">
            <div class="form__required">** - Required Field</div>
            <div class="form__input-container">
                <label class="form__label" for="userName">Your Name **</label>
                <input id="userName" class="form__input" type="text" name="userName" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userEmail">Email **</label>
                <input id="userEmail" class="form__input" type="text" name="userEmail" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userPhone">Phone (10 digits, only numbers) **</label>
                <input id="userPhone" class="form__input" type="tel" name="userPhone" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userAddress">Address **</label>
                <input id="userAddress" class="form__input" type="text" name="userAddress" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userCity">City **</label>
                <input id="userCity" class="form__input" type="text" name="userCity" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userState">State **</label>
                <select id="userState" class="form__input" type="text" name="userState">
                    <option value=""></option>
                    <option value="AL">AL</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="DC">DC</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WU">WY</option>
                </select>
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="userZipCode">ZIP Code **</label>
                <input id="userZipCode" class="form__input" type="text" name="userZipCode" />
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <label class="form__label" for="additionalNotes">Additional Notes </label>
                <textarea id="additionalNotes" class="form__input form__textarea" name="additionalNotes"></textarea>
                <div class="clear-both"></div>
            </div>
            <div class="form__input-container">
                <input asp-page-handler="EstimateSection" id="submitEstimateButton" class="form__submit-button button-container estimate" type="submit" name="submitButton" value="Submit Estimate!" />
                <div class="form__errors"></div>
            </div>
        </form>
    </div>
    <div class="col-sma-7">
        <div class="estimate-container">
            <div class="estimate-container__header">
                <div class="shopping-cart__total">Total: @cartTotal</div>
                <div class="reset-all">Reset All</div>
            </div>
            <table id="estimateTable" class="item-table">
                <thead>
                    <tr>
                        <th class="item__names">Name</th>
                        <th class="item__photos">Photo</th>
                        <th class="item__approximate-prices">Approximate Price</th>
                        <th class="item__quantities">Quantity</th>
                        <th class="item__approximate-subtotals">Subtotal</th>
                        <th class="item__add-icons">Add</th>
                        <th class="item__minus-icons">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item zero">
                        <td class="item__name">@products[0].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[0].price</td>
                        <td class="item__quantity">@numberOfPears</td>
                        <td class="item__approximate-subtotal">@subtotalPears</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item one">
                        <td class="item__name">@products[1].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[1].price</td>
                        <td class="item__quantity">@numberOfApples</td>
                        <td class="item__approximate-subtotal">@subtotalApples</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item two">
                        <td class="item__name">@products[2].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[2].price</td>
                        <td class="item__quantity">@numberOfBlueberries</td>
                        <td class="item__approximate-subtotal">@subtotalBlueberries</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item three">
                        <td class="item__name">@products[3].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[3].price</td>
                        <td class="item__quantity">@numberOfStrawberries</td>
                        <td class="item__approximate-subtotal">@subtotalStrawberries</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item four">
                        <td class="item__name">@products[4].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[4].price</td>
                        <td class="item__quantity">@numberOfRaspberries</td>
                        <td class="item__approximate-subtotal">@subtotalRaspberries</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item five">
                        <td class="item__name">@products[5].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[5].price</td>
                        <td class="item__quantity">@numberOfCherries</td>
                        <td class="item__approximate-subtotal">@subtotalCherries</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item six">
                        <td class="item__name">@products[6].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[6].price</td>
                        <td class="item__quantity">@numberOfPumpkins</td>
                        <td class="item__approximate-subtotal">@subtotalPumpkins</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item seven">
                        <td class="item__name">@products[7].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[7].price</td>
                        <td class="item__quantity">@numberOfMilkGallons</td>
                        <td class="item__approximate-subtotal">@subtotalMilkGallons</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="item eight">
                        <td class="item__name">@products[8].namePlural</td>
                        <td class="item__photo"><div class="item__photo-image"></div></td>
                        <td class="item__approximate-price">$@products[8].price</td>
                        <td class="item__quantity">@numberOf12OunceJamJars</td>
                        <td class="item__approximate-subtotal">@subtotal12OunceJamJars</td>
                        <td class="item__add"><div class="item__add__item">+</div></td>
                        <td class="item__minus"><div class="item__minus__item">-</div></td>
                    </tr>
                    <tr class="clear-both"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setCurrentPage(2, "#mobileNav", ".nav__nav-link");
        setCurrentPage(2, "#desktopNav", ".nav__nav-link");
    });
</script>

<script type="text/javascript" src="assets/javascript/our-products-validation.js?mod=11212019"></script>

<script type="text/javascript">
    let numberOfCartItems = 9;

    for (let i = 0; i < numberOfCartItems; i++) {
        $(".product__minus-quantity").eq(i).on("click", function () {
              adjustProductSetQuantity(i, "decrease");
        });
        
        $(".product__add-quantity").eq(i).on("click", function () {
              adjustProductSetQuantity(i, "increase");
        });

        $(".product__add").eq(i).on("click", function () {
            let itemQuantity = $(".product__input-quantity").eq(i).val();
            setCartQuantity("SetItemQuantity", i, itemQuantity);
        });
    }


    for (let i = 0; i < numberOfCartItems; i++) {
        $(".item__minus__item").eq(i).on("click", function () {
            updateCart("MinusItem", i);
        });

        $(".item__add__item").eq(i).on("click", function () {
            updateCart("AddItem", i);
        });
    }


    $(".reset-all").eq(0).on("click", function () {
        resetCart("ResetCart", -1);
    })


    function adjustProductSetQuantity(itemNumber, change) {
        if (change === "decrease") {
            let newValue = "" + (parseInt($(".product__input-quantity").eq(itemNumber).val()) - 1);
            $(".product__input-quantity").eq(itemNumber).val(newValue);
        } else if (change === "increase") {
            let newValue = "" + (parseInt($(".product__input-quantity").eq(itemNumber).val()) + 1);
            $(".product__input-quantity").eq(itemNumber).val(newValue);
        }
    }


    function setCartQuantity(actionString, itemID, itemQuantity) {
        $.ajax({
            method: "GET",
            url: "/OurProducts?handler=" + actionString + "&item=" + itemID + "&itemQuantity=" + itemQuantity,
            data: '',
            success: function (response) {
                let parser = new DOMParser();
                let ajaxDocument = parser.parseFromString(response, "text/html");

                let productQuantity = ajaxDocument.getElementsByClassName("product__quantity")[itemID];

                let itemQuantity = ajaxDocument.getElementsByClassName("item__quantity")[itemID];
                let productApproximateTotal = ajaxDocument.getElementsByClassName("item__approximate-subtotal")[itemID];
                let shoppingCartTotal = ajaxDocument.getElementsByClassName("shopping-cart__total")[0];

                $(".product__quantity").eq(itemID).html(productQuantity.innerHTML);
                $(".item__quantity").eq(itemID).html(itemQuantity.innerHTML);
                $(".item__approximate-subtotal").eq(itemID).html(productApproximateTotal.innerHTML);
                $(".shopping-cart__total").eq(0).html(shoppingCartTotal.innerHTML);
            }
        });
    }




    function updateCart(actionString, itemID) {
        $.ajax({
            method: "GET",
            url: "/OurProducts?handler=" + actionString + "&item=" + itemID,
            data: '',
            success: function (response) {
                let parser = new DOMParser();
                let ajaxDocument = parser.parseFromString(response, "text/html");

                let productQuantity = ajaxDocument.getElementsByClassName("product__quantity")[itemID];

                let itemQuantity = ajaxDocument.getElementsByClassName("item__quantity")[itemID];
                let productApproximateTotal = ajaxDocument.getElementsByClassName("item__approximate-subtotal")[itemID];
                let shoppingCartTotal = ajaxDocument.getElementsByClassName("shopping-cart__total")[0];

                $(".product__quantity").eq(itemID).html(productQuantity.innerHTML);
                $(".item__quantity").eq(itemID).html(itemQuantity.innerHTML);
                $(".item__approximate-subtotal").eq(itemID).html(productApproximateTotal.innerHTML);
                $(".shopping-cart__total").eq(0).html(shoppingCartTotal.innerHTML);
            }
        });
    }

    function resetCart(actionString, itemID) {
        $.ajax({
            method: "GET",
            url: "/OurProducts?handler=" + actionString + "&item=" + itemID,
            data: '',
            success: function (response) {
                let parser = new DOMParser();
                let ajaxDocument = parser.parseFromString(response, "text/html");
                for (let i = 0; i < numberOfCartItems; i++) {

                    let productQuantity = ajaxDocument.getElementsByClassName("product__quantity")[i];

                    let itemQuantity = ajaxDocument.getElementsByClassName("item__quantity")[i];
                    let productApproximateTotal = ajaxDocument.getElementsByClassName("item__approximate-subtotal")[i];

                    $(".product__quantity").eq(i).html(productQuantity.innerHTML);
                    $(".item__quantity").eq(i).html(itemQuantity.innerHTML);
                    $(".item__approximate-subtotal").eq(i).html(productApproximateTotal.innerHTML);
                }
                var shoppingCartTotal = ajaxDocument.getElementsByClassName("shopping-cart__total")[0];
                $(".shopping-cart__total").eq(0).html(shoppingCartTotal.innerHTML);
            }
        });
    }

</script>
